.numberbutton {
    width: 113.3px;
    height: 95px;

    background-color: white;
    border: 1px solid grey;

    font-size: 45px;
    font-weight: 550;
}

.bigbutton {
    width: 340px;
    height: 95px;

    background-color: white;
    border: 1px solid grey;

    font-size: 45px;
    font-weight: 100;
}

.actionbutton {
    width: 115px;
    height: 95px;
    margin: 0;
    padding: 0;

    background-color: darkred;
    color: white;
    border: 1px solid grey;

    font-size: 70px;
    font-weight: 500;
}